/* BASIC STYLES HERE */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

#pop-toast-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
}

.gachamon-border {
  border: thick double black;
}



/* FIXME what is up with this */
.gachamon-border:hover span {
  transform: translateY(-.3em) !important;
  transition: all .1s ease-in-out;
}

.gachamon-border span {
  display: inline-block;
  transition: all .6s ease-in-out;
}